* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 70px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/wp4288395-aesthetic-laptop-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;


}

 .btnLogin-popup {

    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: black;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0 0 0 .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;

}


.wrapper .form-box {

    width: 100%;
    padding: 40px;

}


.wrapper.active-popup {
    transform: scale(1);

}


.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}



.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}



.wrapper.active {
    height: 520px;
}

.form-box h2 {
    font-size: 2em;
    color: #e0e3e6;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #1a83d3;
    margin: 30px 0;

}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #dce1e6;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}

.input-box input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #dde1e4;
    font-weight: 600;
    padding: 0 35px 0 5px;

}



.input-box .icon {

    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #d2d5d8;
    line-height: 57px;

}

.remember-forget {
    font-size: .9em;
    color: #e5e9ec;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #f2f5f8;
    margin-right: 3px;
}

.remember-forget a {
    color: #c9cdd0;
    margin: 2px;
    text-decoration: none;

}

.remember-forget a:hover {
    text-decoration: underline;

}

.Btn {

    width: 100%;
    height: 45px;
    background:#162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}

.login-register {
    font-size: .9em;
    color: #e3ebf1;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #bebfbf;
    text-decoration: none;
    font-weight: 500;

}

.login-register p a:hover {
    text-decoration: underline;
}


.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}



@media (max-width: 877px) {

     .btnLogin-popup{
        width: 120px;
        height: 35px;
    }

    
.navigation a {
    
    margin-left: 20px;
}

header{
    padding: 20px 50px;
}

.wrapper{
top: 30px;
}

}




@media (max-width: 700px) {

    .navigation a{
        font-size: 1rem;
    }

     .btnLogin-popup{
        width: 110px;
        height: 25px;
        font-size: .9rem;
        margin-left: 25px;
    }

    header {
        padding: 20px 20px;
    }    


/* .wrapper{


}
    */

}



@media (max-width: 579px) {
   

    header {
        padding: 20px 5px;
    }    

    .btnLogin-popup{

        width: 70px;
        height: 25px;

    }
    .logo {
        font-size: 1.1rem;
    }

    .navigation a {
        margin-left: 7px;
    }

    /* .wrapper{


        width: 300px;
        height: 430px;

    } */

}

@media (max-width: 450px) {
   

    .navigation a {
        top: 48px;
        margin-left:30px;
    }

    header{
        flex-direction: column;
    }

.btnLogin-popup{

    align-items: center;
    margin: -13px 0 0 0;
}



.wrapper{

    width: 360px;
    height: 450px;
    top: 60px;
}    


.wrapper .form-box {
    width: 87%;
    padding: 40px;
}

.form-box h2 {
    font-size: 1.3rem;
  
   
}

.input-box label {
   
    top: 45%;
    font-size: 1rem;

}

.icon-inner, .ionicon, svg {
  
    width: 80%;
}

}


@media (max-width: 409px){
 
    

    .login-register{
        font-size: 1rem;
    }

    .navigation a {
        top: 48px;
        margin-left:10px;
    }

    header{
        flex-direction: column;
    }

.btnLogin-popup{

    align-items: center;
    margin: -13px 0 0 0;
}



.icon-inner, .ionicon, svg {
  
    width: 80%;
}


}