
*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
}

section{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('img/pexels-pixabay-355887.jpg');
  background-position: center;
  background-size: cover;
  
  /* background-image: linear-gradient(45deg,rgb(200, 47, 190) ,rgb(216, 219, 32),rgb(198, 49, 49),blue,green,red);
  background-size: 200% 200%;
  animation: color 10s ease-in-out infinite; */
      }
      /* @keyframes color{
          0%{
              background-position: 0 50%;
          }
          50%{
              background-position: 100% 50%;
          }
          0%{
              background-position: 0 50%;
          }
          }
   background: greenyellow; */


.form-box{
  position: relative;
  width: 400px;
  height: 450px;
  background:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);

} 

h2{
  font-size: 2em;
  color: #fff;
  text-align: center;

}

.input-box{

  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;

}
.input-box label{

  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;


}
input:focus ~ label,
input:valid ~ label{
  pointer-events: none;

  top: -5px;

}
.input-box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;

}

.input-box ion-icon{
  position: absolute;
  right:8px ;
  color: #fff;
  font-size: 1.2em;
  top: 20px;

}
.forget{
  margin: 15px 0 15px;
font-size: 0.9em;
color: #fff;
display: flex;
justify-content: center;

}

.forget label input{
  margin-right: 3px;
}
.forget label a{
  color: #fff;
  text-decoration: none;
}
.forget label a:hover{
 text-decoration: underline;

}
.adi{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-family: 600
}

.register{
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin :25px 0 10px;

}


.register p a{
  text-decoration: none;
  color: #fff;
  font-weight: 300;

}

.register p a:hover{

  text-decoration: underline;

}

.adi1{
  color: #fff;
  text-decoration: none;
 
}

.adi1:hover{
 
  text-decoration:underline;
  color: #fff;
 
}

@media (max-width: 768px){

  
.form-box{
 
  width: 350px;
  height: 410px;
}

.input-box {

  
  width: 270px;
 
}
}

@media (max-width: 476px){

  
.form-box{
 
  width: 350px;
  height: 410px;
}
}

@media (max-width: 355px){

  
.form-box{
 
  width: 300px;
  height: 390px;
}
.input-box {

  width: 250px;
 
}

}